@page "/vacations"
@using BlazorStrap;

<PageTitle>Vacations</PageTitle>

<BSNav IsTabs="true">
    <BSNavItem>
        <TabLabel>Ramining Days</TabLabel>
        <TabContent>
            <BSContainer>
            <BSRow Align="Align.Start" style="padding:20px;"/>
                <BSRow Align="Align.Start">
                    <BSCol Auto="true">
                        <h1 style="display:inline;">@remainingDays&nbsp;</h1>
                        <h3 style="display:inline;">days remaining</h3>
                    </BSCol>
                </BSRow>
                <BSRow Align="Align.Start" style="padding:10px;"/>
                @for(int i=0;i < nextVacations.Count;i++)
                {
                    DateTime item = nextVacations[i];
                    int days = i+remainingDays + 1;
                    <BSRow Align="Align.Start">
                        <BSCol Column="4">
                            <h4>@days days on @item.ToString("yyyy/MM/dd")</h4>
                        </BSCol>
                    </BSRow>
                }
            </BSContainer>
        </TabContent>
    </BSNavItem>
    <BSNavItem>
        <TabLabel>History</TabLabel>
        <TabContent>
            <BSTable IsBordered="false" IsBorderLess="false" IsCaptionTop="false" IsStriped="true">
                <BSTHead>
                    <BSTR>
                        <BSTD>Start</BSTD>
                        <BSTD>End</BSTD>
                        <BSTD>Description</BSTD>
                        <BSTD></BSTD>
                    </BSTR>
                </BSTHead>
                <BSTBody>
                    @foreach (var v in history)
                    {
                    <BSTR>
                        <BSTD>@v.Start.ToString("yyyy/MM/dd")</BSTD>
                        <BSTD>@v.End.ToString("yyyy/MM/dd")</BSTD>
                        <BSTD>@v.Description</BSTD>
                        <BSTD><BSButton Color="BSColor.Dark" @onclick="() => DeleteVacation(v)">Delete</BSButton></BSTD>
                    </BSTR>
                    }
                    <BSTR>
                        <BSTD><BSInput InputType="InputType.Date" @bind-Value="newVacation.Start"/></BSTD>
                        <BSTD><BSInput InputType="InputType.Date" @bind-Value="newVacation.End"/></BSTD>
                        <BSTD><BSInput InputType="InputType.Text" @bind-Value="newVacation.Description"/></BSTD>
                        <BSTD><BSButton Color="BSColor.Dark" @onclick="AddVacation">Add</BSButton></BSTD>
                    </BSTR>
                </BSTBody>
            </BSTable>
        </TabContent>
    </BSNavItem>
    <BSNavItem>
        <TabLabel>Settings</TabLabel>
        <TabContent>
            <BSLabel>Initial Days</BSLabel>
            <BSInputGroup MarginBottom="Margins.Medium">
                <BSInput InputType="InputType.Number" @bind-Value="initialDays"/>
                <span class="@BS.Input_Group_Text">Days</span>                
            </BSInputGroup>
            <BSLabel>Vacation Pay Percent</BSLabel>
            <BSInputGroup MarginBottom="Margins.Medium">
                <BSInput InputType="InputType.Number" @bind-Value="vacationPayPercent"/>
                <span class="@BS.Input_Group_Text">%</span>                
            </BSInputGroup>
            <BSLabel>Work Start Date</BSLabel>
            <BSInputGroup MarginBottom="Margins.Medium">
                <BSInput InputType="InputType.Date" @bind-Value="workStartDate"/>  
            </BSInputGroup>
            <BSButton Color="BSColor.Dark" @onclick="SaveSettings">Save</BSButton>
        
        </TabContent>
    </BSNavItem>
</BSNav>
